<!-- I have to change from  model Supershop.Data.Entities.Product -->
@model Supershop.Models.ProductViewModel
<!-- When changing here, I have to also change it in the controller. -->
@{
    ViewData["Title"] = "Create new product";
}

<h1> New product</h1>

<!--<h4>Product</h4>-->
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- I have to say that this form also has a file -->
        <!-- So I have to change the form attribute -->
        <!-- <form asp-action="Create"> -->
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Below I am calling the partial view  -->
            <partial name="_Products" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Create</button>

                <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
